@import '~bootstrap/scss/bootstrap.scss';
@import './vars.scss';

*{
    font-family: 'Raleway', sans-serif;;
}

.container-strict{
    width: 1000px;
    margin: auto;
    max-width: 100%;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
    margin: 0;
}